<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPB Badges</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
    {% block css %} {% endblock %}
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                LOGO
            </div>
            <a href="javascript:void(0)" class="navmobile" onclick="hamburger()">
                <i class="fa fa-bars"></i>
            </a>
            <div id="navlinks">
                <a>People</a>
                <a>Badges</a>
            </div>
        </nav>
    </div>
    

    <div class="main">
        {% block main %} {% endblock %}
    </div>

    <script src="../static/js/common.js"></script>
    {% block js %} {% endblock %}
</body>
</html>