{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/badges.css">
{% endblock %}

{% block main %}
<div class="banner">
    <h1>Explore Badges</h1>
    <p>
        Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
        Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
        Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
    </p>
</div>

{% for category in category_list %}
<div class="accordion">
    <button class="accordion-button">{{ category.name }}</button>
    <div class="badges-list panel">
        {% for badge in category.badges_list %}
        <div class="badge">
            <img class="badge-img" 
                src="{{ badge.img_src }}">
            <div class="badge-desc">
                <h3>{{ badge.name }}</h3>
                <p>{{ badge.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}