{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/badges.css">
{% endblock %}

{% block main %}
<div class="banner">
    <h1>Explore Badges</h1>
    <p>
        Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
        Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
        Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
    </p>
</div>

<div class="accordion">
    <button></button>
    <div class="badges-list panel">
        <div class="badge">
            <img class="badge-img" 
                src="../static/GrumpyFuzzball-meteor-back.png">
            <div class="badge-desc">
                <h3>Meteoric Fuzzball</h3>
                <p>Lorem ipsum. Lorem ipsum.</p>
            </div>
        </div>
        <div class="badge">
            <img class="badge-img" 
                src="../static/GrumpyFuzzball-meteor-back.png">
            <div class="badge-desc">
                <h3>Meteoric Fuzzball</h3>
                <p>Lorem ipsum. Lorem ipsum.</p>
            </div>
        </div>
        <div class="badge">
            <img class="badge-img" 
                src="../static/GrumpyFuzzball-meteor-back.png">
            <div class="badge-desc">
                <h3>Meteoric Fuzzball</h3>
                <p>Lorem ipsum. Lorem ipsum.</p>
            </div>
        </div>
        <div class="badge">
            <img class="badge-img" 
                src="../static/GrumpyFuzzball-meteor-back.png">
            <div class="badge-desc">
                <h3>Meteoric Fuzzball</h3>
                <p>Lorem ipsum. Lorem ipsum.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}