{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block main %}
<div class="banner">
    <img class="banner-img" src="../static/GrumpyFuzzball-meteor-back.png">
    <div class="banner-text">
        <h1>Welcome to SIPB Badges!</h1>
        <p>
            Badges are fun achievements that SIPB members can acquire.
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
            Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
        </p>
    </div>
</div>

<div class="content">
    <div class="item">
        <h2>Looking for cool badges?</h2>
        <button class="button">Explore Badges</button>
    </div>
    <div class="item">
        <h2>Looking for someone?</h2>
        <button class="button">Find People</button>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="../static/js/common.js"></script>
{% endblock %}