.banner {
    display: flex;
    flex-direction: column;
    max-width: 95%;
}

.badges-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.badge {
    margin: 1rem;
    /* Card effects */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badge:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.badge-img {
    background-color: black;
    max-height: 200px;
}

.badge-desc {
    margin: 0.5rem;
}

.badge-desc h3 {
    text-align: center;
}

/* Landscape phone, tablets, and desktop */
@media only screen and (min-width: 700px) {
    #badge-search {
        display: flex;
        width: auto;
    }

    .badges-list {
        flex-flow: row wrap;
    }

    .badge {
        width: 20%;
        flex-direction: column;
    }

    .badge-img {
        max-height: unset;
        max-width: 100%;
    }
}