<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPB Badges</title>
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                LOGO
            </div>
            <a href="javascript:void(0)" class="navmobile" onclick="hamburgerFunc()">
                <i class="fa fa-bars"></i>
            </a>
            <div id="navlinks">
                <a>People</a>
                <a>Badges</a>
            </div>
        </nav>
    </div>
    

    <div class="main">
        <div class="banner">
            <img class="banner-img" src="../static/GrumpyFuzzball-meteor-back.png">
            <div class="banner-text">
                <h1>Welcome to SIPB Badges!</h1>
                <p>
                    Badges are fun achievements that SIPB members can acquire.
                    Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
                    Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
                    Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
                    Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
                    Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
                    Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
                    Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
                    Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. 
                </p>
            </div>
        </div>
        
        <div class="content">
            <div class="item">
                <h2>Looking for cool badges?</h2>
                <button>Explore Badges</button>
            </div>
            <div class="item">
                <h2>Looking for someone?</h2>
                <button>Find People</button>
            </div>
        </div>
    </div>

    <script src="../static/common.js"></script>
</body>
</html>